*{
    margin: 0px;
    padding: 0px;
}

.bg-darkblue{
	background: #0c1528;
}

.text-darkblue{
	color: #0c1528;
}

.cajas-iconos img{
	width: 40px;
}

.wrap, .bg-blue, html{
	background: #d5d9de;
}
@media (min-width: 1200px){
	.container, .container-sm, .container-md, .container-lg, .container-xl {
	    max-width: 1000px !important;
	}
}
.title-light{
	color: #0c1528 !important;
    font-weight: 300 !important;
    letter-spacing: 10px;
}
.title-cards-f{
	line-height: 1;
    font-size: 22px;
    font-variant-caps: all-small-caps;
}
.bg-gray2{
	background: #a6adb5 !important;
}
.bg-light-gray{
	background: #e9eaec !important;
}
.bg-light-blue{
	background: #f1f2f4 !important;
}
.bg-pastel-blue, .btn-pastel-blue{
	background: #44546b !important;
}

.btn-pastel-blue:hover, .btn-gray:hover, .nav-item:hover, .btn-dark:hover{
	background: #638eb0 !important;
	border-color: #638eb0 !important;
}
/*.nav-item a:hover{
	color: #638eb0 !important;
}*/
.text-pastel-blue{
	color: #44546b !important;
}

.bg-blue-2{
	background: #638eb0;
}
.bg-white{
	background: white !important;
}
.bg-light-2{
	background: #f7f8fa;
}
.bg-light-blue-3{
	background: #d5d9de;
}
.bg-blue3{
	background: #0c1427;
}
.bg-success2{
	background: #88CB32;
}
.text-success2{
	color: #88CB32;
}
.span-price{
	letter-spacing: 4px;
	font-weight: bold;
	background: #f9d378;
}
.text-gray{
	color:#757575;
}
.text-gray2{
	color:#585c61;
}

.select-center{
	text-align-last: center;
}
.icon_sm{
	font-size: 6px;margin-bottom:0.1rem;
}
.icon_md{
	font-size:10px;
	margin-bottom: 0.2rem;
}
.font-mercury{
	font-family: mercury;
}
.text-muted {
    color: #666666!important;
}

.text-inicio .small{
	font-size: 10px !important;
}

.text-inicio .big{
	font-size: 24px !important;
	font-weight: 500;
}

.text-inicio p{
	max-width: 180px;
	/*display: contents;*/
}

.h33 {
    font-size: 1.4rem;
}
.nav-link{
	font-size: 13px !important;
}
.font-10{
	font-size: 10px
}
.font-12{
	font-size: 12px
}
.font-14{
	font-size: 14px
}
.font-16{
	font-size: 16px
}
.font-18{
	font-size: 18px
}
.text-blue{
	color:#0e1227 !important;
}

.rounded-2{
	border-radius: 35px;
}

.rounded-3{
	border-radius: 50px !important;
}

.rounded-50{
	border-radius: 50% !important;
}

.pagination .active a{

	background: #0e1227;
	color:white !important;
}

.input-r{
	background: #f2f3f4 !important;
	border:none !important;
	border-radius: 50px !important;
	font-size: 13px !important;
	font-weight: bold !important;
	/*padding: 8px 15px !important;*/
	width: 100%;
	/*background: #f3f3f3 !important;*/
}

.input-r::placeholder, .textarea::placeholder{
	color: #0e1227 !important;
}

.bg-gray{
	background: #f2f3f4 !important;
}

.textarea::placeholder{
	font-weight: bold;
}
.textarea{
	font-size: 13px !important;
	color: #0e1227 !important;
	border:none !important;
}

label{
	color: #14182c !important;
	font-weight:600;
}
.field-propiedades-impuestos, .field-propiedades-cargas_gramabes, .field-propiedades-deslinde{
	margin-bottom: 0px !important;
}
input[type='checkbox']{
	 -webkit-box-shadow: 0px 0px 0px 1px #14182c; 
	 -moz-box-shadow: 0px 0px 0px 1px #14182c; 
	 box-shadow: 0px 0px 0px 1px #14182c; 
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.div-lab label{
 font-size: 14px;
 font-weight: 600;
 color: #000;
 background-color: #f2f3f4;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 }

 .check-box-container .form-group{
 	margin-bottom: 0px;
 }


.contenedor{
    position: relative;
    display: inline-block;
    text-align: right;
}
.div_riesgo{
    position: absolute;
    top: 10px;
    right: -5px;
    float: right;
    /*box-shadow: 7px 6px 4px #444;*/
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-warning, .bg-warning-2{
	background: #f9ae33 !important;
}

.bg-warning-3{
	background: #f36523;
}

.no-link:hover{
	text-decoration: none !important;
	color:#0e1227;
}

.contenedor_total{
	margin-top: -2.5rem;
}

.contenedor_total span{
	opacity: 0.8;
}

.contenedor_total span:hover{
	opacity: 1 !important;
	background: #44546b !important;
}


.carousel-indicators li{
	box-sizing: none !important;
    -ms-flex: none !important;
    flex: none !important;
    width: 100% !important;
    height: 120px !important;
    margin-right: none !important;
    margin-left: none !important;
    text-indent: none !important;
    cursor: none !important;
    background-color: none !important;
    background-clip: none !important;
    border-top: none !important;
    border-bottom: none !important;
    opacity: none !important;
    transition: none !important;
}

.carousel-indicators{
	position: unset !important;
	margin: 0px !important; 
}

.link_slide{
	width: 100%;
	height:120px;
}

.carousel-item img{
	width: 100%;
}

#carousel-thumbs img{
	height: 100px;
}
.div-buscador-home{
		position: absolute;top: 150px
	}

/*.carousel-control-prev, .carousel-control-next{
	display: none !important;
}*/

.bg-lightgray{
	background: #f7f8f9
}

.h55 {
    font-size: 1.1rem;
}

@media (max-width: 991px){

	#carousel-thumbs{
		height: 120px;
		width: 100% !important;
	}
	.first-part img{
		height: 300px;
	}

	.carousel-item img{
		height: 250px;
	}

	.link_slide{
		width: 100%;
		height:250px;
	}

	.carousel-indicators div{
		padding: 0px !important;
		display: none !important; 
	}

	.carousel-control-prev, .carousel-control-next{
		display: block !important;
		margin-top: 4rem !important;
	}

	.pl-sm-none{
		padding-left: 0px !important;
	}

	.d-xs-none{
		display: none;
	}
	.d-xs-show{
		display: block !important;
	}

	.home-carousel-item img{
		height: calc(100vh - 150px);
	}

	.div-buscador-home{
		position: absolute;top: 0px !important;
	}

	.div-buscador{
		border-radius: 10px !important;
	}

	.title-cards-f{
		font-size: 16px !important;
	}
	.cajas-iconos img{
		width: 30px;
	}

	.a-plus{
		font-size: 14px !important;
	}

}
@media (max-width: 768px){
	.title-cards-f{
		font-size: 22px !important;
	}
	.cajas-iconos img{
		width: 50px;
	}
	.a-plus{
		font-size: 18px !important;
	}

	.cajas-iconos p, .cajas-iconos span{
		margin-left: 3rem !important;
	}
}
@media (min-width: 990px){
	.carousel-item .active{
		height: 120px !important;
	}
	.first-part img{
		height: 450px;
	}

   .pl-sm-0{
		padding-left: 1rem !important;
	}
	.bg-lg-dark{
		background-color: #343a40 !important;
	}

	.lg-text-right{
		text-align: right;
	}
	.lg-text-center{
		text-align: center;
	}
	.lg-text-left{
		text-align: left;
	}

	.div-buscador-home{
		position: absolute;top: 150px !important
	}

	.text-inicio{
		margin-top: -20rem !important;
	}

}

.font-weight-bold-2{
	font-weight: 500;
}
.rounded-left-2{
	border-radius: 0px 0px 0px 100px;
}

.w-95{
	width: 95%;
}

.div-buscador{
	border-radius: 55px;
}

.form-control{
	height: fit-content !important;
}

.btn-gray{
	background: #44546b !important;
}

.btn_warning{
	padding-left: 1.8rem !important;
	padding-right: 1.8rem !important;
	border-radius:50px;
	color: #44546b !important;
}

.w-fit{
	width: fit-content !important;
}


.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    /*position: absolute;*/
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}



.carousel-control-prev, .carousel-control-next{
	opacity: 0.7 !important;
}

.carousel-control-prev, .carousel-control-next{
	width: 10% !important;
}

@media (min-width: 992px){
	.modal-lg, .modal-xl {
	    max-width: 70% !important;;
	}
}

.my-checkbox input[type='checkbox']:after {
    width: 22px;
    height: 22px;
    border-radius: 45px;
    top: -4px;
    left: -4px;
    position: relative;
    background-color: #d1d3d1 !important;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    background-image: url(/frontend/web/images/dot.png);
    background-size: cover;
    margin-right: 4px !important;
}

.my-checkbox input[type='checkbox']:checked:after {
     width: 22px;
    height: 22px;
    border-radius: 45px;
    top: -4px;
    left: -4px;
    position: relative;
    background-color: #8bc73f !important;
    content: '';
    display: inline-block;
    visibility: visible;
    background-image: url(/frontend/web/images/dot-full-2.png);
	background-size: cover;
	margin-right: 4px !important;
}

.my-checkbox label input{
	margin-right: 3px !important;
}


.theme-krajee-uni .star, .theme-krajee-uni svg{
	font-size: 24px !important;
}

.rating-container .filled-stars {
	color: #ffd814 !important;
}
#graphcomment, #gc-iframe{
	    background: #f2f2f2 !important;
}
.rating-container .rating-stars{
	font-size: 0px;
}

.rating-md{
	font-size: 20px !important;
}