*{
    margin: 0px;
    padding: 0px;
}

.wrap, .bg-blue, html{
	background: #0e1227;
}

.text-blue{
	color:#0e1227;
}

.rounded-2{
	border-radius: 35px;
}

.rounded-3{
	border-radius: 50px;
}

.input-r{
	background: #f2f3f4 !important;
	border:none !important;
	border-radius: 50px !important;
	font-size: 13px !important;
	font-weight: bold !important;
	/*padding: 8px 15px !important;*/
	width: 100%;
	/*background: #f3f3f3 !important;*/
}

.input-r::placeholder, .textarea::placeholder{
	color: #0e1227 !important;
}

.bg-gray{
	background: #f2f3f4 !important;
}

.textarea::placeholder{
	font-weight: bold;
}
.textarea{
	font-size: 13px !important;
	color: #0e1227 !important;
	border:none !important;
}

label{
	color: #14182c !important;
	font-weight:600;
}
.field-propiedades-impuestos, .field-propiedades-cargas_gramabes, .field-propiedades-deslinde{
	margin-bottom: 0px !important;
}
input[type='checkbox']{
	 -webkit-box-shadow: 0px 0px 0px 1px #14182c; 
	 -moz-box-shadow: 0px 0px 0px 1px #14182c; 
	 box-shadow: 0px 0px 0px 1px #14182c; 
}

input[type="file"]#inputfile, input[type="file"]#inputfile2, input[type="file"]#inputfile3, input[type="file"]#inputfile4 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label[for="inputfile"],label[for="inputfile2"], label[for="inputfile3"], label[for="inputfile4"] {
 font-size: 14px;
 font-weight: 600;
 color: #000;
 background-color: #f2f3f4;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 }

 .check-box-container .form-group{
 	margin-bottom: 0px;
 }


.contenedor{
    position: relative;
    display: inline-block;
    text-align: right;
}
.div_riesgo{
    position: absolute;
    top: 10px;
    right: -5px;
    float: right;
    /*box-shadow: 7px 6px 4px #444;*/
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-warning, .bg-warning-2{
	background: #f9ae33 !important;
}

.bg-warning-3{
	background: #f36523;
}

.no-link:hover{
	text-decoration: none;
	color:#0e1227;
}

.carousel-indicators li{
	box-sizing: none !important;
    -ms-flex: none !important;
    flex: none !important;
    width: 100% !important;
    height: 120px !important;
    margin-right: none !important;
    margin-left: none !important;
    text-indent: none !important;
    cursor: none !important;
    background-color: none !important;
    background-clip: none !important;
    border-top: none !important;
    border-bottom: none !important;
    opacity: none !important;
    transition: none !important;
}

.carousel-indicators{
	position: unset !important;
	margin: 0px !important; 
}

.link_slide{
	width: 100%;
	height:120px;
}

.carousel-item img{
	height: 450px;
}

.carousel-control-prev, .carousel-control-next{
	display: none !important;
}

.bg-lightgray{
	background: #f7f8f9
}

.h55 {
    font-size: 1.1rem;
}

@media (max-width: 991px){
	.carousel-item img{
		height: 250px;
	}

	.link_slide{
		width: 100%;
		height:250px;
	}

	.carousel-indicators div{
		padding: 0px !important;
		display: none !important; 
	}

	.carousel-control-prev, .carousel-control-next{
		display: block !important;
		margin-top: 8rem !important;
	}

	.pl-sm-none{
		padding-left: 0px !important;
	}

	.d-xs-none{
		display: none;
	}
	.d-xs-show{
		display: block !important;
	}
}
@media (min-width: 990px){

   .pl-sm-0{
		padding-left: 1rem !important;
	}

}

.font-weight-bold-2{
	font-weight: 500;
}
.rounded-left-2{
	border-radius: 0px 0px 0px 100px;
}

.w-95{
	width: 95%;
}

.div-buscador{
	border-radius: 19px;
}

.form-control{
	height: fit-content !important;
}

.btn_warning{
	padding-left: 1.8rem !important;
	padding-right: 1.8rem !important;
	border-radius:50px;
}

.w-fit{
	width: fit-content;
}